<h1>Listing items</h1>

<ul id="item-list">
  <% @items.each do |item|  %>
  <li class="item-box">
  <%= link_to (content_tag(:span class:"icon-lol", ""))  %>
  </li>
<% end  %>
</ul>
<table>
  <thead>
    <tr>
    <th> Imagen</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
      <td><%= image_tag item.image.url  %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.description %></td>
        <td><%= link_to "Mostrar", item, rel: "tooltip", title: "#{render 'info', item: item}" %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
$(".tooltip").tooltip({

})
$("a[rel=tooltip]").tooltip({

  html: true ,  placement: 'auto'

})
</script>
<br>

<%= link_to 'New Item', new_item_path %>
