%h1 Listing items

%ul.list-items
  - @items.each do |item|
    %li.i-box
      = link_to item, rel: "tooltip", title: "#{render 'info', item: item}" do
        %span.icon-lol
          <img src="#{item.image.url}" />
        %span.name-lol #{item.name}
        = link_to 'Edit', edit_item_path(item)  
%br/
= link_to 'New Item', new_item_path