
<%= render 'info'  %>

<%= link_to 'Volver', @item ,class: "btn btn-success"  %>

<table class="table table-striped">
	<thead>
		<tr>
		<th>Imagen</th>
		<th>Nombre</th>
		<th>Relacion</th>
		</tr>
	</thead>
	<tbody>

		<% @allItems.each do |thing|  %>
		<% if thing != @item  %>
		<tr>
			
			<td><%= image_tag thing.image.url  %></td>
			<td><%= thing.name %></td>
			<th><% if @item.anyupgrade?(thing)  %>
			<%= link_to "Quitar Relacion", {:controller => "item_relationships", :action => 'destroy', :upgrade_id => thing.id},:downgrade_id => @item.id, :confirm => "¿Esta seguro que desea eliminar la relacion con  #{thing.name}?", :method => :delete %>
			<% else  %>
			<%= form_for(@item.item_relationships.build(upgrade_id: thing.id, downgrade_id: @item.id)) do |f|  %>
			<%= f.hidden_field :downgrade_id  %>
			<%= f.hidden_field :upgrade_id  %>
			<%= f.submit "Este item es upgrade", class:"btn  btn-primary"  %>
			<% end  %>
			
			<% end  %></th>
		</tr>
		<% end  %>
		<% end  %>
	</tbody>
</table>
	





