
<%= render 'info' %>
<%= link_to 'Editar', edit_item_path(@item), class: "btn btn-primary" %> |
<%= link_to 'Volver', items_path, class: "btn btn-success" %> | 
<%= link_to 'Configurar', relationships_item_path(@item), class: "btn btn-warning" %>


</div>



<ul class="nav nav-tabs" id="upgradeTap">
	<li class="active"><a href="#upgrade">Se Construye en</a></li>

	<li><a href="#downgrade">Se Construye apartir de </a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="upgrade">
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Imagen</th>
				<th> Nombre</th>
				<th> Precio</th>
				<th> Descripcion</th>
			</tr>
		</thead>
		<tbody>
			<% if @item.upgrade_items.any? %>
			<% @item.upgrade_items.each do |item|  %>
			<tr>
				<td> <%= image_tag item.image.url  %></td>
				<td><%= item.name  %></td>
				<td><%= item.price %></td>
        		<td><%= item.description %></td>
			</tr>
			<% end  %>
			<% end  %>
		</tbody>
	</table>
	Aqui van los upgrades </div>
	<div class="tab-pane" id="downgrade"> 
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Imagen</th>
				<th> Nombre</th>
				<th> Precio</th>
				<th> Descripcion</th>
			</tr>
		</thead>
		<tbody>
			<% if @item.downgrade_items.any? %>
			<% @item.downgrade_items.each do |item|  %>
			<tr>
				<td> <%= image_tag item.image.url  %></td>
				<td><%= item.name  %></td>
				<td><%= item.price %></td>
        		<td><%= item.description %></td>
			</tr>
			<% end  %>
			<% end  %>
		</tbody>
	</table>

	Aqui van los downgrades</div>
</div>

<script>
$('#upgradeTap a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script> 