%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("lategame.png"),root_path, class:"navbar-brand"
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        / Inicio de los Links
        %li= link_to "Inicio", root_path
        %li= link_to "Items", items_path
        %li= link_to "Ayuda", help_path
        - if signed_in?
          %li
            = link_to "Usuarios", users_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Cuenta
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Perfil", current_user
              %li= link_to "Configuracion", edit_user_path(current_user)
              %li.divider
              %li
                = link_to "Cerrar Sesión", signout_path, method: "delete"
        - else
          %li= link_to "Iniciar Sesión", signin_path